*{
    background-color: #0cecb4;
}

.navbar-restaurante {
    color: aliceblue;
    display: inline;
    

    
    
}

ul li {
    display: inline;
    margin:0px 50px;
    
}


.logo{
    width: 80px;
    padding-right: 60;
    margin-left: 30px;

}

.usuario{
    display:flexbox;
    width: 30px;
    padding: 30px;
}

.barradeinicio{
    display: flex;
    justify-content: space-between;
    
}

hr{
    color: rgb(44, 90, 90);
    size: 12px;
}

.imagen1{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}


.cuadro1{
    display: flex;
    margin-top: 20px;
}

.conteiner1{
    text-align: justify ;
    margin-left: 40px;
    margin-right: 40px;

}

.conteiner2{
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
    
}


.nombre{
    justify-content: right;
    text-align: center;
    
}

.conteiner3{


    display: flex;
    margin-top: 20px;
    
}

.parrafo1{
    padding: 12px;
    justify-content: center;
    margin-top: 12px;
}

.cuadro2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
    text-align: center;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 1 / 2 / 2 / 3; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }
    .div5 { grid-area: 1 / 3 / 2 / 4; }
    .div6 { grid-area: 2 / 3 / 3 / 4; }

.parrafo1{
    text-align: justify;
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
}

.piedepagina {
    display: flex;
    margin-top: 20px;
    }
    
.logo2{
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 60px;
}

.ubicacion{
    border-top-left-radius: 60px;
    border-bottom-right-radius: 45px;
    margin-left: 40px;
    margin-right: 150px;
    
}



.redessociales  {
    text-align: center;
    color: aquamarine;
}

.img-red{
    border-radius: 70%;
    margin-top: 20px;
}

.textofinal{
    text-align: center;
}
